.cluster-connection-drawer .pf-c-content {
  padding-top: 0;
  padding-bottom: 0;
}

.cluster-connection-drawer .pf-c-content h3 {
  margin-top: 0;
}

.cluster-connection-drawer .pf-c-content small {
  margin-bottom: 4px;
}